/.LaunchConfigurationInfo.java._trace
/.MuLELaunchShortcut.java._trace
/.MuLELaunchShortcut.xtendbin
/.MuLELaunchTabGroup.java._trace
/.MuLELaunchTabGroup.xtendbin
/LaunchConfigurationInfo.java
/MuLELaunchShortcut.java
/MuLELaunchTabGroup.java
