/.MuLEHighlightingConfiguration.java._trace
/.MuLEHighlightingConfiguration.xtendbin
/.MuLESemanticHighlightingCalculator.java._trace
/.MuLESemanticHighlightingCalculator.xtendbin
/MuLEHighlightingConfiguration.java
/MuLESemanticHighlightingCalculator.java
